
<div class="layout-row">
  <div class="flex-30"></div>
  <div class="flex">
    <ul>
      {{#each habitsProps as |habit|}}
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{habit.title}}{{/text.headline}}
              {{#text.subhead}}{{habit.description}}{{/text.subhead}}
            {{/title.text}}
            {{paper-progress-circular value=habit.habitProgress}}
          {{/card.title}}
          {{#card.actions}}
          {{/card.actions}}
        {{/paper-card}}
      {{/each}}
    </ul>
  </div> 
  <div class="flex-30"></div>
</div>
<div class="layout-row layout-align-space-around-end">
  {{#paper-button class="add-button" fab=true raised=false onClick=(action "showDialogAction")}}
    +
  {{/paper-button}}
</div>

{{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialogAction" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Add New Habit</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeDialogAction" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{#paper-form class="newHabitForm layout-column  layout-align-space-around-center" onSubmit=(action "basicSubmitAction") as |form|}}
        <div class="layout-row">

          <div class="layout-column flex-50">
            {{form.input label="Title" value=title onChange=(action (mut title)) required=true}}
          </div>

          <div class="layout-column flex-50">
            {{paper-input label="Goal Days" type="number" value=goalDays min=1 max=356 onChange=(action (mut goalDays)) required=true}}
            {{paper-slider class="flex" min=1 max=356 value=goalDays onChange=(action (mut goalDays))}}
            {{#paper-radio-group
              groupValue=(readonly goalDays)
              onChange=(action (mut goalDays)) as |group|}}
              {{#group.radio value=7}} 1 Week {{/group.radio}}
              {{#group.radio value=30}} 1 Month {{/group.radio}}
              {{#group.radio value=356}} 1 Year {{/group.radio}}
            {{/paper-radio-group}}

          </div>

        </div>
        <div class="layout-row  ">
          {{paper-input textarea=true block=true label="Description" maxlength=150 passThru=(hash rows=5 maxRows=5)
            value=description onChange=(action (mut description))}}
        </div>
        <div class="layout-row">
          {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
        </div>
      {{/paper-form}}
    {{/paper-dialog-content}}

  {{/paper-dialog}}
{{/if}}

