
<div class="layout-row container">
    {{#unless habitsProps}}
      <span class="no-habits-message">You have no habits to track!</span>
      <span class="add-one-message">Add one!</span>
    {{/unless}}
    {{#each habitsProps as |habit|}}
      {{#paper-card class=" {{progressColor}}" as |card| }}
        {{#paper-tooltip class="tooltip" position="bottom"}}
          Click habit for details.
        {{/paper-tooltip}}
        {{!-- <div class="parent"> --}}
        {{#paper-item class="card-item" onClick=(action "showHabitDetailsDialogAction" habit)}}
        <div {{action "showHabitDetailsDialogAction" habit}}>
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline class="titlulmalefic"}}{{habit.title}}{{/text.headline}}
              {{#text.subhead class="text-area-div"}}{{habit.description}}{{/text.subhead}}
            {{/title.text}}
          {{/card.title}}
        </div>
            <div class="progress-div" {{action "showHabitDetailsDialogAction" habit}}>
              {{paper-progress-circular strokeRatio=0.15 diameter=120 min=0 max=100 value=habit.habitProgress class="progress aaa"}}
              {{paper-progress-circular strokeRatio=0.15 diameter=70 min=0 max=100 value=habit.habitProgress class="progress bbb"}}
              <div class="progress-percent">{{habit.habitProgress}}%</div>
            </div>
            <div class="layout-column three-buttons">
              {{#paper-menu as |menu|}}
                {{#menu.trigger}}
                  {{#paper-button class="menu-button" iconButton=true}}
                    {{paper-icon "menu"}}
                  {{/paper-button}}
                {{/menu.trigger}}
                  {{#menu.content width=2 as |content|}}
                
                  {{#content.menu-item onClick=(action "incrementProgress" habit)}}
                    {{paper-icon "check_circle"}}
                    <span>Check</span>
                  {{/content.menu-item}}
                  {{#content.menu-item onClick=(action "showEditDialogAction" habit)}}
                    {{paper-icon "edit"}}
                    <span>Edit</span>
                  {{/content.menu-item}}
                  {{#content.menu-item onClick=(action "showDeleteDialogAction" habit)}}
                    {{paper-icon "delete"}}
                    <span>Delete</span>
                  {{/content.menu-item}}
                {{/menu.content}}
              {{/paper-menu}}

              {{#paper-button  class="hide-button" iconButton=true onClick=(action "incrementProgress" habit)}}
                {{paper-icon "check_circle"}}
                {{#paper-tooltip position="right"}}
                  Check
                {{/paper-tooltip}}
              {{/paper-button}}
              {{#paper-button class="hide-button" iconButton=true onClick=(action "showEditDialogAction" habit)}}
                {{paper-icon "edit"}}
                {{#paper-tooltip position="right"}}
                  Edit
                {{/paper-tooltip}}
              {{/paper-button}}
              {{#paper-button class="hide-button" iconButton=true onClick=(action "showDeleteDialogAction" habit)}}
                {{paper-icon "delete"}}
                {{#paper-tooltip position="right"}}
                  Delete
                {{/paper-tooltip}}
              {{/paper-button}}
              
            </div>
          {{#card.actions}}
          {{/card.actions}}
        {{/paper-item}}
                
        {{!-- </div> --}}
      {{/paper-card}}
      {{/each}}
      {{#paper-card class="card-item"}}
        {{#paper-item class="card-item card-add-item" onClick=(action "showFormDialogAction")}}
          <span class="card-add-text">+</span>
        {{/paper-item}}
      {{/paper-card}}
      
</div>

{{#if showFormDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeFormDialogAction" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Add New Habit</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeFormDialogAction" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{#paper-form class="newHabitForm layout-column  layout-align-space-around-center"  onSubmit=(action "addHabit")as |form|}}
        <div class="layout-row layout-align-space-around-center">

          <div class="layout-column flex-50">
            {{form.input label="Title" maxlength=20 value=newHabit.title onChange=(action (mut newHabit.title)) required=true}}
            {{#paper-select options=categories label="Category" required=true selected=newHabit.category onChange=(action (mut newHabit.category)) as |category|}}
              {{category}}
            {{/paper-select}}
          </div>

          <div class="layout-column flex-50">
            {{paper-input label="Goal Days" type="number" value=newHabit.daysGoal min=1 max=356 onChange=(action (mut newHabit.daysGoal)) required=true}}
            {{!-- {{paper-slider class="flex" min=1 max=356 value=newHabit.daysGoal onChange=(action (mut newHabit.daysGoal))}} --}}
            {{#paper-radio-group
              groupValue=(readonly newHabit.daysGoal)
              onChange=(action (mut newHabit.daysGoal)) as |group|}}
              {{#group.radio value=7}} 1 Week {{/group.radio}}
              {{#group.radio value=30}} 1 Month {{/group.radio}}
              {{#group.radio value=356}} 1 Year {{/group.radio}}
            {{/paper-radio-group}}
          </div>

        </div>
        <div class="layout-row text-area-div">
          {{paper-input textarea=true block=true class="text-area" label="Description" maxlength=150 passThru=(hash rows=5 maxRows=5)
            value=newHabit.description onChange=(action (mut newHabit.description))}}
        </div>
        <div class="layout-row">
          {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
        </div>
      {{/paper-form}}
    {{/paper-dialog-content}}

  {{/paper-dialog}}
{{/if}}

{{#if showEditDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeEditDialogAction" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Edit "{{currentHabit.title}}"</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeEditDialogAction" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{#paper-form class="newHabitForm layout-column  layout-align-space-around-center" as |form|}}
        <div class="layout-row">

          <div class="layout-column flex-50">
            {{form.input label="Title" value=currentHabit.title onChange=(action (mut currentHabit.title)) required=true}}
                        {{#paper-select options=categories label="Category" required=true selected=currentHabit.category onChange=(action (mut currentHabit.category)) as |category|}}
              {{category}}
            {{/paper-select}}
          </div>

          <div class="layout-column flex-50">
            {{paper-input label="Goal Days" type="number" value=currentHabit.daysGoal min=1 max=356 onChange=(action (mut currentHabit.daysGoal)) required=true}}
            {{!-- {{paper-slider class="flex" min=1 max=356 value=currentHabit.daysGoal onChange=(action (mut currentHabit.daysGoal))}} --}}
            {{#paper-radio-group
              groupValue=(readonly currentHabit.daysGoal)
              onChange=(action (mut currentHabit.daysGoal)) as |group|}}
              {{#group.radio value=7}} 1 Week {{/group.radio}}
              {{#group.radio value=30}} 1 Month {{/group.radio}}
              {{#group.radio value=356}} 1 Year {{/group.radio}}
            {{/paper-radio-group}}

          </div>

        </div>
        <div class="layout-row">
          {{paper-input textarea=true block=true label="Description" maxlength=150 passThru=(hash rows=5 maxRows=5)
            value=currentHabit.description onChange=(action (mut currentHabit.description))}}
        </div>
        <div class="layout-row">
          {{#paper-button raised=true primary=true onClick=(action "editHabit" "closeEditDialogAction")}}Submit{{/paper-button}}
        </div>
      {{/paper-form}}
    {{/paper-dialog-content}}

  {{/paper-dialog}}
{{/if}}

{{#if showHabitDetailsDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeHabitDetailsDialogAction" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>{{currentHabit.title}}</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeHabitDetailsDialogAction" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      <div class="details-div">
        <span class="details-text">Description:</span> {{currentHabit.description}}
        <br>
        <span class="details-text">Goal Days:</span> {{currentHabit.daysGoal}}
        <br>
        <span class="details-text">Habit Progress:</span> {{currentHabit.daysChecked}}/{{currentHabit.daysGoal}}
        <br>
        <span class="details-text">Category:</span> {{currentHabit.category}}
      </div>
    {{/paper-dialog-content}}

  {{/paper-dialog}}
{{/if}}

{{#if showDeleteDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDeleteDialogAction" "cancel") origin=dialogOrigin clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <span>Are you sure you want to delete "{{currentHabit.title}}"?</span>
      {{#paper-button raised=true primary=true onClick=(action "confirmDelete")}}Yes{{/paper-button}}
      {{#paper-button raised=true primary=true onClick=(action "closeDeleteDialogAction")}}Cancel{{/paper-button}}
    {{/paper-dialog-content}}

  {{/paper-dialog}}
{{/if}}


{{#if showDeletedHabitToast}}
  {{#paper-toast duration=2000 capsule=capsule swipeToClose=swipeToClose onClose=(action "closeToastAction") as |toast|}}
    {{#toast.text}}Habit Deleted!{{/toast.text}}
  {{/paper-toast}}
{{/if}}

{{#if showAddedHabitToast}}
  {{#paper-toast duration=2000 capsule=capsule swipeToClose=swipeToClose onClose=(action "closeToastAction") as |toast|}}
    {{#toast.text}}Habit Added!{{/toast.text}}
  {{/paper-toast}}
{{/if}}

{{#if showEditedHabitToast}}
  {{#paper-toast duration=2000 capsule=capsule swipeToClose=swipeToClose onClose=(action "closeToastAction") as |toast|}}
    {{#toast.text}}Habit Edited!{{/toast.text}}
  {{/paper-toast}}
{{/if}}


{{#if showCheckedToast}}
  {{#paper-toast duration=2000 capsule=capsule swipeToClose=swipeToClose onClose=(action "closeToastAction") as |toast|}}
    {{#toast.text}}Congratulations! Keep it up!{{/toast.text}}
  {{/paper-toast}}
{{/if}}

{{#if showGoalDoneToast}}
  {{#paper-toast duration=2000 capsule=capsule swipeToClose=swipeToClose onClose=(action "closeToastAction") as |toast|}}
    {{#toast.text}}Your goal was accomplished!{{/toast.text}}
  {{/paper-toast}}
{{/if}}